@model IEnumerable<Kasboek.WebApp.Models.Transactie>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bedrag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VanRekening)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NaarRekening)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Omschrijving)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categorie)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td class="date">
                @*Ivm issue https://github.com/aspnet/Mvc/issues/6796 tijdelijk geen DisplayFor gebruiken *@
                @*@Html.DisplayFor(modelItem => item.Datum)*@
                @item.Datum.ToString("ddd d/M/yyyy")
            </td>
            <td class="currency">
                @*@Html.DisplayFor(modelItem => item.Bedrag)*@
                @item.Bedrag.ToString("C")
            </td>
            <td class="@(item.VanRekening.IsEigenRekening ? "eigen-rekening" : "")">
                @*@Html.DisplayFor(modelItem => item.VanRekening.Naam)*@
                @item.VanRekening.Naam
            </td>
            <td class="@(item.NaarRekening.IsEigenRekening ? " eigen-rekening" : "" )">
                @*@Html.DisplayFor(modelItem => item.NaarRekening.Naam)*@
                @item.NaarRekening.Naam
            </td>
            <td class="multiline"><a asp-controller="Transacties" asp-action="Details" asp-route-id="@item.TransactieId">@*@Html.DisplayFor(modelItem => item.Omschrijving)*@@(item.Omschrijving ?? "- Geen omschrijving -")</a></td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Categorie.Omschrijving)*@
                @item.Categorie?.Omschrijving
            </td>
        </tr>
        }
    </tbody>
</table>
