@model IEnumerable<Kasboek.WebApp.Models.Transactie>
@{ 
    string anchorAction = ViewBag.TransactiesAnchorAction ?? "Details";
    DateTime? nearDatum = ViewBag.NearDatum;
}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bedrag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VanRekening)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NaarRekening)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Omschrijving)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categorie)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td class="date@(nearDatum == item.Datum ? " on-datum" : "")">
                @{
                    var nearDatumLinkParameters = new Dictionary<string, string> { { "nearDatum", item.Datum.ToString("yyyy-MM-dd") } };
                }
                <a asp-controller="Transacties" asp-action="Index" asp-all-route-data="nearDatumLinkParameters">@item.Datum.ToString("ddd d/M/yyyy")</a>
            </td>
            <td class="currency">
                @item.Bedrag.ToString("C")
            </td>
            <td class="@(item.VanRekening.IsEigenRekening ? "eigen-rekening" : "")">
                @item.VanRekening.Naam
            </td>
            <td class="@(item.NaarRekening.IsEigenRekening ? " eigen-rekening" : "")">
                @item.NaarRekening.Naam
            </td>
            <td class="multiline"><a asp-controller="Transacties" asp-action="@anchorAction" asp-route-id="@item.TransactieId">@(item.Omschrijving ?? "- Geen omschrijving -")</a></td>
            <td>
                @item.Categorie?.Omschrijving
            </td>
        </tr>
        }
    </tbody>
</table>
