@model Kasboek.WebApp.Models.Transactie

@{
    ViewData["Title"] = "Transactie verwijderen";
}

<h3>Weet u zeker dat u deze transactie wilt verwijderen?</h3>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd>
            @{
                var nearDatumLinkParameters = new Dictionary<string, string> { { "nearDatum", Model.Datum.ToString("yyyy-MM-dd") } };
            }
            <a asp-controller="Transacties" asp-action="Index" asp-all-route-data="nearDatumLinkParameters">@Html.DisplayFor(model => model.Datum)</a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bedrag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bedrag)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VanRekening)
        </dt>
        <dd class="@(Model.VanRekening.IsEigenRekening ? "eigen-rekening" : "")">
            <a asp-controller="Rekeningen" asp-action="Details" asp-route-id="@Model.VanRekeningId">@Html.DisplayFor(model => model.VanRekening.Naam)</a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NaarRekening)
        </dt>
        <dd class="@(Model.NaarRekening.IsEigenRekening ? "eigen-rekening" : "")">
            <a asp-controller="Rekeningen" asp-action="Details" asp-route-id="@Model.NaarRekeningId">@Html.DisplayFor(model => model.NaarRekening.Naam)</a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Omschrijving)
        </dt>
        <dd class="multiline">@Html.DisplayFor(model => model.Omschrijving)</dd>
        <dt>
            @Html.DisplayNameFor(model => model.Categorie)
        </dt>
        <dd>
            @if (Model.CategorieId.HasValue)
            {
                <a asp-controller="Categorieen" asp-action="Details" asp-route-id="@Model.CategorieId">@Html.DisplayFor(model => model.Categorie.Omschrijving)</a>
            }
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="TransactieId" />
        <input type="submit" value="Verwijderen" class="btn btn-default" /> |
        <a asp-action="Details" asp-route-id="@Model.TransactieId">Terug naar details</a>
    </form>
</div>
