@model Kasboek.WebApp.Models.Transactie

@{
    ViewData["Title"] = "Transactie details";
}

<h2>Transactie details</h2>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Datum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bedrag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bedrag)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VanRekening)
        </dt>
        <dd class="@(Model.VanRekening.IsEigenRekening ? "eigen-rekening" : "")">
            <a asp-controller="Rekeningen" asp-action="Details" asp-route-id="@Model.VanRekeningId">@Html.DisplayFor(model => model.VanRekening.Naam)</a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NaarRekening)
        </dt>
        <dd class="@(Model.NaarRekening.IsEigenRekening ? "eigen-rekening" : "")">
            <a asp-controller="Rekeningen" asp-action="Details" asp-route-id="@Model.NaarRekeningId">@Html.DisplayFor(model => model.NaarRekening.Naam)</a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Omschrijving)
        </dt>
        <dd class="multiline">@Html.DisplayFor(model => model.Omschrijving)</dd>
        <dt>
            @Html.DisplayNameFor(model => model.Categorie)
        </dt>
        <dd>
            @if (Model.CategorieId.HasValue)
            {
                <a asp-controller="Categorieen" asp-action="Details" asp-route-id="@Model.CategorieId">@Html.DisplayFor(model => model.Categorie.Omschrijving)</a>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TransactieId">Bewerken</a> |
    <a asp-action="Delete" asp-route-id="@Model.TransactieId">Verwijderen</a> |
    <a asp-action="Index">Terug naar transacties</a>
</div>
