@model Kasboek.WebApp.Models.Transactie

@{
    ViewData["Title"] = "Transactie details";
}

<h2>Transactie details</h2>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Datum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bedrag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bedrag)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VanRekening)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VanRekening.Naam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NaarRekening)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NaarRekening.Naam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Omschrijving)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Omschrijving)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Categorie)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Categorie.Omschrijving)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TransactieId">Bewerken</a> |
    <a asp-action="Index">Terug naar transacties</a>
</div>
