@using Kasboek.WebApp.Models.RekeningenViewModels
@model IList<RekeningViewModel>
<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <div class="checkbox-inline">
                        <label>
                            <input type="checkbox" class="select-all" />
                            Selecteer
                        </label>
                    </div>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Naam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Rekeningnummer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().StandaardCategorieOmschrijving)
                </th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>
                        @Html.CheckBoxFor(modelItem => @Model[i].Selected)
                        @Html.HiddenFor(modelItem => @Model[i].RekeningId)
                    </td>
                    <td class="@(Model[i].IsEigenRekening ? "eigen-rekening" : "")">
                        @*Ivm issue https://github.com/aspnet/Mvc/issues/6796 tijdelijk geen DisplayFor gebruiken *@
                        <a asp-controller="Rekeningen" asp-action="Details" asp-route-id="@Model[i].RekeningId">@*@Html.DisplayFor(modelItem => Model[i].Naam)*@@Model[i].Naam</a>
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => Model[i].Rekeningnummer)*@
                        @Model[i].Rekeningnummer
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => Model[i].StandaardCategorieOmschrijving)*@
                        @Model[i].StandaardCategorieOmschrijving
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="form-group">
        <input type="submit" asp-controller="Rekeningen" asp-action="Merge" value="Samenvoegen" class="btn btn-default" />
    </div>
</form>