@model IEnumerable<Kasboek.WebApp.Models.Rekening>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rekeningnummer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StandaardCategorie)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="@(item.IsEigenRekening ? "eigen-rekening" : "")">
                    <a asp-controller="Rekeningen" asp-action="Details" asp-route-id="@item.RekeningId">@Html.DisplayFor(modelItem => item.Naam)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rekeningnummer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StandaardCategorie.Omschrijving)
                </td>
            </tr>
        }
    </tbody>
</table>
