@model Kasboek.WebApp.Models.Rekening

@{
    ViewData["Title"] = "Rekening verwijderen";
}

<h3>Weet u zeker dat u deze rekening wilt verwijderen?</h3>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Naam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rekeningnummer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rekeningnummer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsEigenRekening)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsEigenRekening)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StandaardCategorie)
        </dt>
        <dd>
            @if (Model.StandaardCategorieId.HasValue)
            {
                <a asp-controller="Categorieen" asp-action="Details" asp-route-id="@Model.StandaardCategorieId">@Html.DisplayFor(model => model.StandaardCategorie.Omschrijving)</a>
            }
        </dd>
        <dt>
            Saldo
        </dt>
        <dd class="@((decimal)ViewData["Saldo"] < 0M ? "currency-negative" : "")">
            @string.Format("{0:C}", ViewData["Saldo"])
        </dd>
    </dl>

    <form asp-action="Delete">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="RekeningId" />
        @if (!ViewBag.DisableForm)
        {
            @:<input type="submit" value="Verwijderen" class="btn btn-default" /> |
        }
        <a asp-action="Details" asp-route-id="@Model.RekeningId">Terug naar details</a>
    </form>
</div>
