@model Kasboek.WebApp.Models.Rekening

@{
    ViewData["Title"] = "Rekening details";
}

<h2>Rekening details</h2>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Naam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rekeningnummer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rekeningnummer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsEigenRekening)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsEigenRekening)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StandaardCategorie)
        </dt>
        <dd>
            @if (Model.StandaardCategorieId.HasValue)
            {
                <a asp-controller="Categorieen" asp-action="Details" asp-route-id="@Model.StandaardCategorieId">@Html.DisplayFor(model => model.StandaardCategorie.Omschrijving)</a>
            }
        </dd>
        <dt>
            Saldo
        </dt>
        <dd>
            @string.Format("{0:C}", ViewData["Saldo"])
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RekeningId">Bewerken</a> |
    <a asp-action="Delete" asp-route-id="@Model.RekeningId">Verwijderen</a> |
    <a asp-action="Index">Terug naar rekeningen</a>
</div>
<hr />

<h3>Transacties</h3>
@await Html.PartialAsync("../Transacties/_Transacties", (IList<Transactie>)ViewBag.Transacties)
