@model Kasboek.WebApp.Models.Categorie

@{
    ViewData["Title"] = "Categorie details";
}

<h2>Categorie details</h2>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Omschrijving)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Omschrijving)
        </dd>
        <dt>
            Saldo
        </dt>
        <dd>
            @string.Format("{0:C}", ViewData["Saldo"])
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CategorieId">Bewerken</a> |
    <a asp-action="Delete" asp-route-id="@Model.CategorieId">Verwijderen</a> |
    <a asp-action="Index">Terug naar categorieën</a>
</div>
<hr />

<h3>Rekeningen met standaard categorie</h3>
@await Html.PartialAsync("../Rekeningen/_Rekeningen", (IList<Rekening>)ViewBag.RekeningenMetStandaardCategorie)

<h3>Transacties</h3>
@await Html.PartialAsync("../Transacties/_Transacties", (IList<Transactie>)ViewBag.Transacties)
