@using Kasboek.WebApp.Models.CategorieenViewModels
@model IList<CategorieViewModel>

@{
    ViewData["Title"] = "Categorieën";
}

<p>
    <a asp-action="Create">Categorie maken</a>
</p>
<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <div class="checkbox-inline">
                        <label>
                            <input type="checkbox" class="select-all" />
                            Selecteer
                        </label>
                    </div>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Omschrijving)
                </th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>
                        @Html.CheckBoxFor(modelItem => @Model[i].Selected)
                        @Html.HiddenFor(modelItem => @Model[i].CategorieId)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@Model[i].CategorieId">@Html.DisplayFor(modelItem => Model[i].Omschrijving)</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="form-group">
        <input type="submit" asp-action="Merge" value="Samenvoegen" class="btn btn-default" />
    </div>
</form>