@model Kasboek.WebApp.Models.Instellingen

@{
    ViewData["Title"] = "Instellingen details";
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StandaardVanRekening)
        </dt>
        @if (Model.StandaardVanRekeningId.HasValue)
        {
            <dd class="@(Model.StandaardVanRekening.IsEigenRekening ? "eigen-rekening" : "")">
                <a asp-controller="Rekeningen" asp-action="Details" asp-route-id="@Model.StandaardVanRekeningId">@Html.DisplayFor(model => model.StandaardVanRekening.Naam)</a>
            </dd>
        }
        else
        {
            <dd></dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.TransactieMeteenBewerken)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransactieMeteenBewerken)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit">Bewerken</a>
</div>
