@using Kasboek.WebApp.Models.VerslagViewModels
@model BalansViewModel
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th></th>
            @foreach (var datum in Model.Datums)
            {
            <th class="date">
                @{
                    var peilDatumLinkParameters = new Dictionary<string, string> { { "peilDatum", datum.ToString("yyyy-MM-dd") } };
                }
                <a asp-controller="Verslag" asp-action="Index" asp-all-route-data="peilDatumLinkParameters">@datum.ToString("d")</a>
            </th>
            }
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>
                Totaal
            </th>
            @foreach (var bedrag in Model.TotaalRegel)
            {
                <th class="currency @(bedrag < 0M ? "currency-negative" : "")">
                    @bedrag.ToString("C")
                </th>
            }
        </tr>
    </tfoot>
    <tbody>
        @foreach (var verslagRegel in Model.VerslagRegels)
        {
            <tr>
                <td>
                    <a asp-controller="Rekeningen" asp-action="Details" asp-route-id="@verslagRegel.Id">@verslagRegel.Tekst</a>
                </td>
                @foreach (var bedrag in verslagRegel.Bedragen)
                {
                    <td class="currency @(bedrag < 0M ? "currency-negative" : "")">
                        @bedrag.ToString("C")
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
