@using Kasboek.WebApp.Models.VerslagViewModels
@model ResultatenrekeningViewModel
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th></th>
            @foreach (var periode in Model.Periodes)
            {
                <th>
                    <div class="date">Van @periode.Item1.ToString("d")</div>
                    <div class="date">tot @periode.Item2.ToString("d")</div>
                </th>
            }
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>
                Totaal
            </th>
            @for (int i = 0; i < Model.TotaalRegel.Count; i++)
            {
                <th class="@(Model.TotaalRegel[i] < 0M ? "currency-negative" : "")">
                    <div class="currency">@Model.TotaalRegel[i].ToString("C")</div>
                    <div class="currency">@Model.TotaalPerMaandRegel[i].ToString("C")</div>
                </th>
            }
        </tr>
    </tfoot>
    <tbody>
        @foreach (var verslagRegel in Model.VerslagRegels)
        {
            <tr>
                <td>
                    <a asp-controller="Categorieen" asp-action="Details" asp-route-id="@verslagRegel.Id">@verslagRegel.Tekst</a>
                </td>
                @for (int i = 0; i < verslagRegel.Bedragen.Count; i++)
                {
                    <td class="@(verslagRegel.Bedragen[i] < 0M ? "currency-negative" : "")">
                        <div class="currency">@verslagRegel.Bedragen[i].ToString("C")</div>
                        <div class="currency">@verslagRegel.BedragenPerMaand[i].ToString("C")</div>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
